{% extends 'base.html.twig' %}

{% block user_button %}
    <a href="{{ path('homepage') }}" class="btn btn-success">Accueil</a>
{% endblock %}

{% block header_title %}
    <h1>Créer une tache</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right">Ajouter</button>
            {{ form_end(form) }}

            <a href="{{ path('task_list') }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
    </div>
{% endblock %}
